# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual environments
# =========================
swarmenv/
venv/
.venv/
env/
DRONE_SWARM_1/venv/

# =========================
# Build / dist
# =========================
.dist/
dist/
build/

# =========================
# Data folders
# =========================
data/
AR/
DRONE_SWARM_1/
src/simulation/data/
src/simulation/dataset_lvl5/

# =========================
# Model files
# =========================
*.pt
*.pth
*.ckpt
*.h5
*.pkl

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
output/